{% extends 'base.html.twig' %}

{% block title %}Create a Trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">Create a Trick</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {{ form_start(trickForm, {'attr': {'class': 'border border-2 border-dark p-4'}}) }}

                <div class="mb-3">
                    {{ form_label(trickForm.name, 'Trick Name', {'label_attr': {'class': 'form-label d-block text-center'}}) }}
                    {{ form_widget(trickForm.name, {'attr': {'class': 'form-control border-0 border-bottom border-dark rounded-0', 'id': 'trick_name'}}) }}
                    {{ form_errors(trickForm.name, {'attr': {'class': 'text-danger'}}) }}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-dark">Create Trick</button>
                </div>

                {{ form_end(trickForm) }}
            </div>
        </div>
    </div>
{% endblock %}
